CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
world2pixel/build/*
!world2pixel/build/test.xml
world2pixel/source/rapidxml.hpp
world2pixel/source/rapidxml_iterators.hpp
world2pixel/source/rapidxml_print.hpp
world2pixel/source/rapidxml_utils.hpp